.stats {
    display: flex;
  justify-content: space-around;
  font-family: 'Press Start 2P', cursive;
  color:#9ADBB3;
  
}

.decreaseBtns {
    display: flex;
    justify-content: space-around;
  
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

#feed {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
}

#play {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
}

#sleep {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
    
}

.startBtn {
   
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid deeppink;
    border-radius: 30%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
    
    

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
    
}

body {
    border: 3px solid lightskyblue
}