.stats {
  display: flex;
  justify-content: space-around;
  font-family: 'Press Start 2P', cursive;
  color:#9ADBB3;
 
  
}

.decreaseBtns {
    display: flex;
    justify-content: space-around;
  
    cursor: pointer;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
 
  
}

#feed {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
}

#play {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
}

#sleep {
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 50%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
    
}
#nameOfPet {
    font-family: 'Press Start 2P', cursive;
    color: #F8C8DC;
    margin-left: 20px;

}

.prompt{
    margin-left: 10px;
    margin-top: 10px;
}
.startBtn {
    
    height: 50px;
    width: 50px;
    border: 3px solid deeppink;
    border-radius: 30%; 
    font-size: 12px;
    background-color: #F8C8DC;
    color: deeppink;
    
    

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 450px;
    width: 300px;
    
    
}

body {
    border: 3px solid lightskyblue
}